<div class="container" style="margin-top: 8%">
  <div class="row">
    <div class="col-sm-3">
      <div
        *ngIf="currentRoomId == null"
        class="spinner-border text-primary"
        role="status"
      >
        <span class="visually-hidden"></span>
      </div>
      <ul class="list-group" style="overflow-y: scroll; height: 75vh">
        <div
          class="accordion"
          id="accordionExample"
          *ngIf="dataLoaded"
          style="height: auto"
        >
          <div class="card" *ngFor="let user of users">
            <div class="card-header" [id]="'heading' + user.id">
              <h2 class="mb-0" style="font-size: 20px">
                <button
                  class="btn btn-link text-left"
                  type="button"
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse' + user.id"
                  aria-expanded="false"
                  [attr.aria-controls]="'collapse' + user.id"
                >
                  {{ user.firstName + " " + user.lastName }}
                </button>
              </h2>
            </div>
            <div
              [id]="'collapse' + user.id"
              class="collapse"
              [attr.aria-labelledby]="'heading' + user.id"
              data-parent="#accordionExample"
            >
              <div class="card-body" style="text-align: center">
                <button
                  class="btn btn-block"
                  style="
                    color: black;
                    text-align: center;
                    background-color: transparent;
                    border: none;
                  "
                >
                  Yetkileri Ayarla
                </button>
                <hr />
                <button
                  class="btn btn-block"
                  style="
                    color: black;
                    text-align: center;
                    background-color: transparent;
                    border: none;
                  "
                >
                  Odadan Çıkar
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="container">
        <div
          style="height: 50px; background-color: #f96332; text-align: center"
        >
          <p style="color: white; padding-top: 10px; font-size: 20px">
            AYARLAR
          </p>
        </div>
      </div>
      <div class="container" style="height: 70vh">
        <div class="row">
          <div class="col-md-4">
            <ul
              class="list-group"
              style="overflow: scroll; height: 65vh; overflow-x: hidden"
            ></ul>
          </div>
          <div class="col-md-8">
            <div class="container justify-content-center">
              <button
                class="btn btn-primary"
                style="margin-top: 70px; margin-left: 80px"
              >
                Yetki Ekle
              </button>
              <button
                class="btn btn-primary"
                style="margin-top: 70px; margin-left: 80px"
              >
                Yetki Düzenle
              </button>
              <button
                class="btn btn-primary"
                style="position: absolute; right: 0; bottom: 0"
                (click)="openUpdateRoomModal()"
              >
                Odayı Düzenle
              </button>
              <button
                class="btn btn-primary"
                style="position: absolute; right: 150px; bottom: 0"
                (click)="openDeleteRoomModal()"
              >
                Odayı Sil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
