<div class="modal-header justify-content-center">
  <h4 class="title title-up">Kategori Ekle</h4>
  <button
    type="button"
    class="close"
    (click)="activeModal.dismiss('Close click')"
  >
    <i class="now-ui-icons ui-1_simple-remove"></i>
  </button>
</div>
<div class="modal-body">
  <form
    [formGroup]="categoryForm"
    style="display: flex; align-items: center; justify-content: center"
  >
    <div class="content-center">
      <div class="input-group form-group-no-border input-lg">
        <div class="input-group-prepend">
          <input
            formControlName="categoryName"
            type="text"
            name="categoryName"
            class="form-control"
            placeholder="Kategori Adı"
          />
        </div>
      </div>
      <input
        class="ng-hide"
        id="input-file-id"
        input
        type="file"
        (change)="fileChange($event)"
      />
      <label for="input-file-id" class="md-button md-raised md-primary"></label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    [disabled]="clicked"
    (click)="addCategory()"
  >
    Ekle
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.dismiss('Close clicked')"
  >
    KAPAT
  </button>
</div>
