<div class="row">
  <div class="col-sm-3">
    <div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
      <span class="visually-hidden"></span>
    </div>

    <button
      *ngIf="dataLoaded"
      (click)="openCreateRoomFormModal()"
      class="btn btn-primary"
      style="margin-bottom: 10%"
    >
      Oda oluştur
    </button>
    <button
      *ngIf="dataLoaded"
      (click)="openJoinRoomFormModal()"
      class="btn btn-primary"
      style="margin-bottom: 10%"
    >
      Odaya katıl
    </button>
    <ul class="list-group" style="overflow-y: scroll; height: 75vh">
      <div class="container">
        <li
          *ngFor="let room of rooms"
          [class]="getCurrentRoomClass(room)"
          (click)="setCurrentRoom(room)"
        >
          {{ room.name }}
        </li>
      </div>
    </ul>
  </div>
  <div class="col-sm-9">
    <div *ngIf="currentRoom" class="container">
      <div style="height: 50px; background-color: #f96332; text-align: center">
        <div
          class="nav-link dropdown button-dropdown dropdown-toggle"
          ngbDropdown
          ngbDropdownToggle
          style="color: white; float: right"
        >
          <i
            class="now-ui-icons ui-1_settings-gear-63"
            style="
              color: black;
              float: right;
              font-size: 170%;
              padding-top: 20%;
            "
          ></i>
          <div ngbDropdownMenu>
            <a class="dropdown-header">AYARLAR</a>
            <a class="dropdown-item" (click)="openArrangeUsersFormModal()"
              >Kullanıcıları Düzenle</a
            >
            <button
              class="dropdown-item"
              (click)="openArrangeClaimsFormModal()"
            >
              Yetkileri Düzenle
            </button>
            <a class="dropdown-item" (click)="openChangeRoomFormModal()"
              >Odayı Düzenle</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="leaveRoom()"> Odadan Ayrıl </a>
            <a class="dropdown-item" (click)="openDeleteRoomFormModal()"
              >Odayı Sil</a
            >
          </div>
        </div>
        <p style="color: white; padding-top: 4px; font-size: 25px">
          {{ currentRoom.name }}
        </p>
      </div>
      <div class="container" style="height: 65vh">
        <button
          class="btn btn-primary btn-round"
          style="float: right"
          (click)="openCreateInvitationFormModal()"
        >
          Davet Oluştur
        </button>
        <app-transaction-chart
          [currentRoom]="currentRoom"
        ></app-transaction-chart>
      </div>
      <app-transaction [currentRoom]="currentRoom"></app-transaction>
    </div>
  </div>
</div>
