<div *ngIf="!dataLoaded" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>

<button
  *ngIf="dataLoaded"
  (click)="openCreateRoomFormModal()"
  class="btn btn-primary"
  style="margin-bottom: 10%"
>
  Oda oluştur
</button>
<button *ngIf="dataLoaded" (click)="openJoinRoomFormModal()" class="btn btn-primary" style="margin-bottom: 10%">
  Odaya katıl
</button>
<ul class="list-group" style="overflow-y: scroll; height: 75vh">
  <div class="container">
    <li
      *ngFor="let room of rooms"
      class="list-group-item mb-2"
      style="border-width: 1px"
    >
      {{ room.name }}
    </li>
  </div>
</ul>
