<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
      <div class="page-header-image" style="background-color: lightgray">
        <div class="container h-75">
          <div class="col-sm-12 h-100 d-table">
            <div class="d-table-cell align-middle" style="font-size: 60px">
              GELİRİM GİDERİM
              <br />
              <span style="font-size: 25px"
                >Bütçeniz için bizi tercih edin.</span
              >
            </div>
          </div>
        </div>
        <div
          class="w-100 p-3"
          style="color: white; background-color: rgb(153, 163, 156)"
        >
          <img
            src="../assets/img/check.png"
            style="margin-left: 27%; margin-right: 1%; padding-bottom: 5px"
          />
          <a style="font-size: x-large">Bütçe dostu.</a>
          <img
            src="../assets/img/check.png"
            style="margin-left: 27%; margin-right: 1%; padding-bottom: 5px"
          />
          <a style="font-size: x-large">Ücretsiz</a>
        </div>
      </div>
    </div>
  </div>
</div>
